= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!
  .seperator
    .row
      .col-md-12
        %p.text-center
          %strong We take precautions to secure your personal information. Whenever you provide your personal information, it is through a Web page that uses the Secure Sockets Layer (SSL) protocol.
        %p.text-center
          Please note ALL fields are required, if a field is not filled out or selected this will cause your application to fail, and you will have to re-submit your application.
  .seperator
    .row
      .col-md-12
        %h2 Personal Information
    .row
      .col-xs-5.col-sm-6.col-md-5.pull-left.text-right.form-group
        = f.label :suffix
      .col-xs-7.col-sm-6.col-md-7.pull-right
        = f.select :suffix, suffix_options, { prompt: 'Select Title' }
    .row
      .col-xs-5.col-sm-6.col-md-5.pull-left.text-right.form-group
        = f.label :first_name, "First Name"
      .col-xs-7.col-sm-6.col-md-7.pull-right
        = f.text_field :first_name, class: "user-name"
    .row
      .col-xs-5.col-sm-6.col-md-5.pull-left.text-right.form-group
        = f.label :middle_name, "Middle Name"
      .col-xs-7.col-sm-6.col-md-7.pull-right
        = f.text_field :middle_name, class: "user-middle-name"
    .row
      .col-xs-5.col-sm-6.col-md-5.pull-left.text-right.form-group
        = f.label :last_name, "Last Name"
      .col-xs-7.col-sm-6.col-md-7.pull-right
        = f.text_field :last_name, class: "user-name"
    .row
      .col-xs-5.col-sm-6.col-md-5.pull-left.text-right.form-group
        = f.label "Primary Phone Number"
      .col-xs-7.col-sm-6.col-md-7.pull-right
        = f.text_field :phone_number_1, class: 'number', size: 4, maxlength: 3
        = f.text_field :phone_number_2, class: 'number', size: 4, maxlength: 3
        = f.text_field :phone_number_3, class: 'number', size: 5, maxlength: 4
    .row
      .col-xs-5.col-sm-6.col-md-5.pull-left.text-right.form-group
        = f.label "Other Phone Number"
      .col-xs-7.col-sm-6.col-md-7.pull-right
        =f.text_field :other_phone_number_1, class: 'number', size: 4, maxlength: 3
        =f.text_field :other_phone_number_2, class: 'number', size: 4, maxlength: 3
        =f.text_field :other_phone_number_3, class: 'number', size: 4, maxlength: 4
    .row
      .col-xs-5.col-sm-6.col-md-5.pull-left.text-right.form-group
        = f.label "Driver License"
      .col-xs-7.col-sm-6.col-md-7.pull-right
        = f.text_field :driver_license, class: 'alphanumeric', size: 20, maxlength:11
    .row
      .col-xs-5.col-sm-6.col-md-5.pull-left.text-right.form-group
        = f.label "Social Security Number"
      .col-xs-7.col-sm-6.col-md-7.pull-right
        = f.text_field :ss_1, class: 'ssn', size: 4, maxlength: 3
        = f.text_field :ss_2, class: 'ssn', size: 3, maxlength: 3
        = f.text_field :ss_3, class: 'ssn', size: 5, maxlength: 4
    .row
      .col-xs-5.col-sm-6.col-md-5.pull-left.text-right.form-group
        = f.label "Your Dath of Birth:"
      .col-xs-7.col-sm-6.col-md-7.pull-right
        = f.date_select(:dob, date_of_birth_options)
  .seperator
    %h2 Residence Information
    .row
      .col-xs-5.col-sm-6.col-md-5.pull-left.text-right.form-group
        = f.label :home_address
      .col-xs-7.col-sm-6.col-md-7.pull-right
        = f.text_field :home_address
    .row
      .col-xs-5.col-sm-6.col-md-5.pull-left.text-right.form-group
        = f.label :city
      .col-xs-7.col-sm-6.col-md-7.pull-right
        = f.text_field :city
    .row
      .col-xs-5.col-sm-6.col-md-5.pull-left.text-right.form-group
        = f.label :state
      .col-xs-7.col-sm-6.col-md-7.pull-right
        = f.select :state, states_abbr
    .row
      .col-xs-5.col-sm-6.col-md-5.pull-left.text-right.form-group
        = f.label :zipcode
      .col-xs-7.col-sm-6.col-md-7.pull-right
        = f.text_field :zipcode
    .row
      .col-xs-5.col-sm-6.col-md-5.pull-left.text-right.form-group
        = f.label :time_at_address_months, "Months at current residence"
      .col-xs-7.col-sm-6.col-md-7.pull-right
        = f.select :time_at_address_months, time_at_address(12), prompt: "Months"
    .row
      .col-xs-5.col-sm-6.col-md-5.pull-left.text-right.form-group
        = f.label :time_at_address_years, "Years at current residence"

      .col-xs-7.col-sm-6.col-md-7.pull-right
        = f.select :time_at_address_years, time_at_address(40), prompt: "Years"
    .row
      .col-xs-5.col-sm-6.col-md-5.pull-left.text-right.form-group
        = f.label :residence_type
      .col-xs-7.col-sm-6.col-md-7.pull-right
        = f.select :residence_type, residence_type, prompt: "Select type"
    .row
      .col-xs-5.col-sm-6.col-md-5.pull-left.text-right.form-group
        = f.label :household_payment
      .col-xs-7.col-sm-6.col-md-7.pull-right
        = f.text_field :household_payment
  .seperator
    %h2 Employment Information
    .row
      .col-xs-5.col-sm-6.col-md-5.pull-left.text-right.form-group
        = f.label :employer_name
      .col-xs-7.col-sm-6.col-md-7.pull-right
        = f.text_field :employer_name
    .row
      .col-xs-5.col-sm-6.col-md-5.pull-left.text-right.form-group
        = f.label :occupation
      .col-xs-7.col-sm-6.col-md-7.pull-right
        = f.text_field :occupation
    .row
      .col-xs-5.col-sm-6.col-md-5.pull-left.text-right.form-group
        = f.label :employment_address
      .col-xs-7.col-sm-6.col-md-7.pull-right
        = f.text_field :employment_address
    .row
      .col-xs-5.col-sm-6.col-md-5.pull-left.text-right.form-group
        = f.label :employment_state
      .col-xs-7.col-sm-6.col-md-7.pull-right
        = f.select :employment_state, states_abbr
    .row
      .col-xs-5.col-sm-6.col-md-5.pull-left.text-right.form-group
        = f.label :employment_city
      .col-xs-7.col-sm-6.col-md-7.pull-right
        = f.text_field :employment_city
    .row
      .col-xs-5.col-sm-6.col-md-5.pull-left.text-right.form-group
        = f.label :employment_zipcode
      .col-xs-7.col-sm-6.col-md-7.pull-right
        = f.text_field :employment_zipcode, size: 20, maxlength: 5
    .row
      .col-xs-5.col-sm-6.col-md-5.pull-left.text-right.form-group
        = f.label "Employer Phone Number"
      .col-xs-7.col-sm-6.col-md-7.pull-right
        = f.text_field :employment_phone_1, class: 'number', size: 4, maxlength: 3
        = f.text_field :employment_phone_2, class: 'number', size: 4, maxlength: 3
        = f.text_field :employment_phone_3, class: 'number', size: 5, maxlength: 4
    .row
      .col-xs-5.col-sm-6.col-md-5.pull-left.text-right.form-group
        = f.label :employment_months, "Employment Months"
      .col-xs-7.col-sm-6.col-md-7.pull-right
        = f.select :employment_months, time_at_address(12), prompt: "Months"
    .row
      .col-xs-5.col-sm-6.col-md-5.pull-left.text-right.form-group
        = f.label :employment_years, "Employment Years"
      .col-xs-7.col-sm-6.col-md-7.pull-right
        = f.select :employment_years, time_at_address(40), prompt: "Years"
    .row
      .col-xs-5.col-sm-6.col-md-5.pull-left.text-right.form-group
        = f.label :employment_gross_income, "Gross monthly income"
      .col-xs-7.col-sm-6.col-md-7.pull-right
        = f.text_field :employment_gross_income, class: "number"
  .seperator
    %h2 Credit Monitoring Service
    %p
      = link_to "For Example: Click Here For A Credit Monitoring Service", "http://www.truecredit.com/", target: "_blank"

    .row.credit-info
      .col-xs-5.col-sm-6.col-md-5.pull-left.text-right.form-group
        = f.label :credit_login, "Credit Monitoring Service Login"
      .col-xs-7.col-sm-6.col-md-7.pull-right
        = f.text_field :credit_login
    .row
      .col-xs-5.col-sm-6.col-md-5.pull-left.text-right.form-group
        = f.label :credit_password, "Credit Monitoring Service Password"
      .col-xs-7.col-sm-6.col-md-7.pull-right
        = f.password_field :credit_password
    .row
      .col-xs-5.col-sm-6.col-md-5.pull-left.text-right.form-group
        = f.label :credit_security_answer, "Credit Monitoring Service Security Answer"
      .col-xs-7.col-sm-6.col-md-7.pull-right
        = f.text_field :credit_security_answer
    .row
      .col-xs-5.col-sm-6.col-md-5.pull-left.text-right.form-group
        = f.label :credit_mother_dob, "Mothers Date of Birth"
      .col-xs-7.col-sm-6.col-md-7.pull-right
        = f.date_select(:credit_mother_dob, date_of_birth_options)
  .seperator
    %h2 Account Setup
    .row
      .col-xs-5.col-sm-6.col-md-5.pull-left.text-right.form-group
        = f.label :email
      .col-xs-7.col-sm-6.col-md-7.pull-right
        = f.text_field :email
    .row
      .col-xs-5.col-sm-6.col-md-5.pull-left.text-right.form-group
        = f.label :password
      .col-xs-7.col-sm-6.col-md-7.pull-right
        = f.password_field :password
    .row
      .col-xs-5.col-sm-6.col-md-5.pull-left.text-right.form-group
        = f.label :password_confirmation
      .col-xs-7.col-sm-6.col-md-7.pull-right
        = f.password_field :password_confirmation
    .row
      .col-xs-5.col-sm-6.col-md-5.pull-left.text-right.form-group
        = f.label :referred_by
      .col-xs-7.col-sm-6.col-md-7.pull-right
        = f.text_field :referred_by
  .row
    .col-md-12
      %p.bg-warning.name-warning.text-center
        Please enter your First and Last name to proceed
  .checkboxes-area.hidden.checkbox-fix
    .row
      .col-md-12
        .field
          = label_tag do
            = check_box_tag('correct_information', '1')
            I certify that I am supplying information in regards to my own personal credit, and am not representing someone else.
        .field
          = label_tag do
            = check_box_tag('accept_statement', '1')
            I understand that it is a federal crime to obtain personal credit information for someone other than myself.
        .field
          = label_tag do
            = check_box_tag('final_statement', '1')
            The Offices of White and Associates is not responsible for any misrepresentations and/or false statements or documentation.
    #signature.field.hidden
      %p.full-name
:javascript
    $(function(){
      function userFormValues() {
        return {
          fName: $('.user-name').first().val(),
          mName: $('.user-middle-name').val(),
          lName: $('.user-name').last().val()
        }
      }
      function getFilledNamesCount() {
        var $names = $(".user-name");
        var getNumberOfFilledNames = function() {
          var totalNumberOfFilledNames = $names.filter(function(){
            return $(this).val().trim().length;
          }).length;
          if (totalNumberOfFilledNames === 2){
            $(".checkboxes-area").removeClass( "hidden" )
            $(".name-warning").addClass( "hidden" )
          }
        }
        $names.on('change', getNumberOfFilledNames);
      };

      function checkBoxChange(){
        var $checkboxes = $("input[type='checkbox']");
        var $number = $checkboxes.length;
        var $checked = 0;
        $checkboxes.on('change', function(){
          if ($(this).is(':checked')) {
            $checked += 1;
            addInitials($(this));
          }
          checkedIsEqualToNumber($checked, $number);
        });
      };

      function addInitials(obj){
        var user = userFormValues()
        var initials = ""
        if (user.mName.length) {
          initials = user.fName.toUpperCase().charAt(0) + "." + user.mName.toUpperCase().charAt(0) + "." + user.lName.toUpperCase().charAt(0) + ". ";
          obj.replaceWith(initials);
        } else {
          initials = user.fName + "." + user.lName + ". ";
          obj.replaceWith(initials);
        }
      }
      function checkedIsEqualToNumber(checked, number) {
        var user = userFormValues();
        var user_sig = user.fName + " " + user.mName + " " + user.lName;
        if (checked === number) {
          $( "#signature" ).removeClass( "hidden" );
          $( "#signature p.full-name" ).append( user_sig );

        } else {
          $('#signature').addClass( "hidden" );
        }
      };

      checkBoxChange();
      getFilledNamesCount();
    });
