.col-md-10
  .row.mt20
    .col-md-12
      %table.table.table-striped.table-hover.border-box
        %tr.text-uppercase
          %th
            Name
          %th
            Address
          %th
            Phone
          %th
            Fax
          %th
          %th
          - @office_locations.each do |office|
            %tr.fs12
              %td
                = link_to edit_admin_office_location_path(office) do
                  = office.name
              %td
                = office.address
                = office.city
                = office.state
                = office.zipcode
              %td
                = office.phone_number
              %td
                = office.fax_number
              %td
                = link_to edit_admin_office_location_path(office) do
                  %i.glyphicon.glyphicon-pencil
              %td
                = link_to admin_office_location_path(office), method: :delete do
                  %i.glyphicon.glyphicon-remove.flat-red
