.col-md-10
  %table.table.mt20.nomb.table-striped
    %tbody
      %tr.text-uppercase.border-box
        %th.border-box
          Create new location
  = form_for [:admin, @office] do |f|
    .row
      .col-md-2.field-option.bold
        Office Name:
      .col-md-5.field-option
        = f.text_field :name, class: "full-width"
    .row
      .col-md-2.field-option.bold
        Address:
      .col-md-5.field-option
        = f.text_field :address, class: "full-width"
    .row
      .col-md-2.field-option.bold
        City:
      .col-md-5.field-option
        = f.text_field :city
    .row
      .col-md-2.field-option.bold
        State:
      .col-md-5.field-option
        = f.select :state, states_abbr, prompt: "Select State"
    .row
      .col-md-2.field-option.bold
        Zipcode:
      .col-md-5.field-option
        = f.number_field :zipcode
    .row
      .col-md-2.field-option.bold
        Office Phone:
      .col-md-5.field-option
        = f.number_field :phone_number
    .row
      .col-md-2.field-option.bold
        Office Fax:
      .col-md-5.field-option
        = f.number_field :fax_number
    .row
      .col-md-2.field-option.bold
        Office Email:
      .col-md-5.field-option
        = f.text_field :name
    .row.mt20
      .col-md-12
        = f.submit 'Create new Office Location', class: "text-center full-width"
