.separator
  .row
    .col-sm-12
      %h3
        Letter Of Representation
      .sub-title
        Please sign the letter of representation and upload it below. This
        will allow The Offices of White and Associates to speak on your behalf
        with the creditors and credit bureaus in regards to you credit file.
  = form_for current_user do |f|
    .row
      .col-sm-12
        = f.label :letter_of_presentation, "Upload signed letter of representation"
        = f.file_field :letter_of_presentation
    .separator
      .row
        .col-sm-12
          %h3
            Payment Verification
        .sub-title
          Once you receive your invoice in regards to your credit file, please
          upload your deposit slip/ receipt here. This will allow you to keep record
          of all payments made to The Offices of White and Associates.
      .row
        .col-sm-12
          = f.label :payment_verification
          = f.file_field :payment_verification
      .row
        .col-sm-12
          .well.name-warning.text-center
            Please make sure all documents are notarized before uploading them. If files are not notarize you will not be able to proceed.
      .row
        .col-sm-12
          = f.submit
