.separator.steps
  = form_for current_user, url: upload_documents_path do |f|
    .row
      .col-sm-8.col-centered.col-md-8.info-box
        %h3
          Proof of Identity
        .sub-title.italics
          %p
            As verification of your identity, The Offices of White and Associates will need a copy of your driver's license and social security card.
          %p
            The driver's license and social security card must be one scanned image, enlarged, and in color, as shown on the sample image below.
          %p
            All information on these documents must be true and correct and be easily read.
          %p
            %strong
              Cell phone images will not be accepted.
              %br
              Please upload Driver License &amp; Social Security as one image.
          %p.text-center.border-top
            = image_tag("driver_license_and_social_security.jpg")

        %p.border-top
          = f.fields_for :service_agreement do |ff|
            = ff.label :service_agreement, "Upload Driver License & Social Security"
            = ff.file_field :file
    .row
      .col-sm-8.col-centered.col-md-8.info-box
        %h3
          Two Utility Bills
        .sub-title.italics
          Please upload two utility bills and make sure that they are not more than 30 days old.
        %p.border-top
          = f.fields_for :letter_of_representation do |ff|
            = ff.label :letter_of_representation, "Upload 1st Utility Bill"
            = ff.file_field :file
        %p.border-top
          = f.fields_for :letter_of_representation do |ff|
            = ff.label :letter_of_representation, "Upload 2nd Utility Bill"
            = ff.file_field :file
    .row
      .col-sm-8.col-centered.col-md-8.mt20.nolrp
        = f.submit "Upload Documents", class: "btn btn-primary full-width"


