%h1
= yield
= @user.first_name.capitalize
has submitted an account request.
%br/
%br/
Here is the application form:
%u
  %h4 Personal Information
%p
  %b Full Name:
  = @user.first_name
  = @user.middle_name
  = @user.last_name
  %br/
  %b Email:
  = @user.email
  %br/
  %b Date of Birth:
  = @user.dob
%p
  %b Primary Phone:
  = @user.phone_number
  %br/
  %b Other Phone:
  = @user.other_number
  %br/
  %b Driver License:
  = @user.driver_license
  %br/
  %b Social Security Number:
  = @user.social_security
  %br/
%u
  %b
    %h4 Residence Information
%p
  %b Address:
  = @user.home_address
  %br/
  %b City:
  = @user.city
  \   
  %b State:
  = @user.state
  \   
  %b Zipcode:
  = @user.zipcode
  %br/
  %b Time at Current Residence:
  Years: #{@user.time_at_address_years} Months: #{@user.time_at_address_months}
  %br/
  %b Residence Type:
  = @user.residence_type
  %br/
  %b Household Payment per month:
  $#{@user.household_payment}.00
%h4
  %u
    %b Employment Information
%p
  %b Employer Name:
  = @user.employer_name
  %br/
  %b Occupation:
  = @user.occupation
  %br/
  %b Address:
  = @user.employment_address
  %br/
  %b City:
  = @user.employment_city
  \   
  %b State:
  = @user.employment_state
  \   
  = succeed ":" do
    %b Zipcode
  = @user.employment_zipcode
  %br/
  %b Office Phone:
  = @user.employment_phone
  %br/
  %b Gross Monthly Income:
  $#{@user.employment_gross_income}.00
  %br/
  %b Time at job: Years:
  = @user.employment_years
  Months: #{@user.employment_months}
  %br/
%u
  %b
    %h4 Credit Monitoring Information
%p
  %b Username:
  = @user.credit_login
  %br/
  %b Password:
  = @user.credit_password
  %br/
  %b Mother's Maiden Name:
  = @user.credit_security_answer

  %br/
  %b Mother's Date of Birth:
  = @user.credit_mother_dob
  %br/
  %b Referral:
  = @user.referred_by
  %b IP Address:
  = @user.registration_ip
%br/
%br/
%p
  %a{:href => "https://officesofwhiteandassociates.com/users/sign_in"} Click here to login to your admin dashboard to approve the clientThis is the bottom part of the text page
