%p
  = full_name(@user)
  has uploaded some documents
%hr
- @files.each do |file|
  %p
    = link_to file_name(file), file_location(file)
%p
  = link_to "Click here for administrator panel", login_path
%p
  Quick Contact Information
  %ul
    %li
      = full_name(@user)
    %li
      = @user.email
    %li
      = @user.phone_number

