.row
  .col-md-12.text-shadow.text-uppercase
    .menu
      %ul.list-inline
        %li
          = link_to "About the firm", "#"
        %li
          = link_to "Register New Account", new_user_path
        %li
          = link_to "References", "#"
        %li
          = link_to "Contact us", "#"
        %li
          = link_to "Login", "#"
        %li
          = link_to "Logout", "#"
