!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Offices of White Administration
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false
    %link{:href => "https://fonts.googleapis.com/css?family=Open+Sans:700,400", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "https://fonts.googleapis.com/css?family=Montserrat:700,400", :rel => "stylesheet", :type => "text/css"}
    = javascript_include_tag 'application', 'data-turbolinks-track' => false
    = csrf_meta_tags
  %body
    #admin-wrapper
      .container-fluid
        .row.admin-nav
          .col-xs-6.col-md-3.text-uppercase
            Offices of White and Associates
          .col-xs-6.col-md-9.text-right.text-uppercase
            %span.glyphicon.glyphicon-off
            Log out
        .row.breadcrumbs
          .col-md-12
        .row
          .col-md-2
          = yield
- flash.each do |key, value|
  = content_tag :div, value, class: "flash #{key}"

= debug params if Rails.env.development?
