!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Offices of White Administration
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false
    %link{:href => "https://fonts.googleapis.com/css?family=Open+Sans:700,400", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "https://fonts.googleapis.com/css?family=Montserrat:700,400", :rel => "stylesheet", :type => "text/css"}
    = javascript_include_tag 'application', 'data-turbolinks-track' => false
    = csrf_meta_tags
  %body
    #admin-wrapper
      .container-fluid
        .row.admin-nav
          .col-xs-6.col-md-3.text-uppercase
            Administration
          .col-xs-6.col-md-9.text-right.text-uppercase
            %span.glyphicon.glyphicon-off
            Log out
        .row.breadcrumbs
          .col-md-12
        .row
          .col-md-2
            %table.table.table-hover.mt20
              %tr.text-uppercase.border-box
                %th
                  Menu
              %tr
                %td
                  = link_to admin_users_path, id: "users" do
                    %i.glyphicon.glyphicon-plus.mr5
                    Clients
              %tr
                %td
                  = link_to admin_office_locations_path, id: "office" do
                    %i.glyphicon.glyphicon-plus.mr5
                    Office Locations
              %tr
                %td
                  %i.glyphicon.glyphicon-plus.mr5
                  Archived Clients
            %table.table.table-hover.mt20
              %tr.text-uppercase.border-box
                %th
                  Office Location
              %tr
                %td
                  = link_to new_admin_office_location_path, id: "add-office" do
                    %i.glyphicon.glyphicon-plus.mr5
                    New Location
            %table.table.table-hover.mt20
              %tr.text-uppercase.border-box
                %th
                  Client Options
              %tr
                %td
                  %i.glyphicon.glyphicon-plus.mr5
                  Archive Client
          = yield
- flash.each do |key, value|
  = content_tag :div, value, class: "flash #{key}"

= debug params if Rails.env.development?
